.homepage {
    // Hero Banner
    .hero-banner {
        height: 100dvh;
        overflow: hidden;
        overflow: hidden;
        position: relative;
        margin-top: unset;

        .banner-image {
            width: 100dvw;
            height: 100dvh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // Product Recommendations
    .product-recommendations {
        .section-title {
            text-align: center;
        }

        .section-description {
            @include text(16px, Be-R, 24px, $text-cl, null);
            text-align: center;
            margin-bottom: 24px;
        }

        .recommendation-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 20px;

            .grid-item {
                &.large {
                    grid-column: 1;
                    grid-row: 1 / span 2;
                }
            }

            .product-card {
                position: relative;
                overflow: hidden;
                border-radius: 8px;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 0.5s ease;
                }

                .card-content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 20px;
                    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    row-gap: 18px;

                    h3 {
                        @include text(20px, M-SB, 22px, $white-cl, null);
                    }

                    .btn {
                        padding: 12px 20px;
                        @include text(16px, Be-M, normal, $black-cl, null);
                        transition: all 0.3s ease;
                        display: inline-block;
                        background-color: $white-cl;
                        display: flex;
                        align-items: center;
                        column-gap: 8px;
                        border-radius: 8px;
                        width: max-content;
                        outline: none;

                        i {
                            color: $black-cl;
                            transition: all 0.3s ease;

                            svg {
                                @include size(16px, 16px);
                            }
                        }

                        &:hover {
                            background-color: $yellow-cl;
                            color: $white-cl;

                            i {
                                color: $white-cl;
                            }
                        }
                    }
                }

                &:hover {
                    img {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    // All Categories
    .all-categories-section {
        .section-title {
            text-align: left;
            margin-bottom: 30px;
        }
    }
}

@include xs {
    .homepage {
        .hero-banner {
            height: 60dvh !important;

            .container-fluid {
                padding: unset;
            }

            .banner-image {
                height: 60dvh !important;
            }
        }

        .product-recommendations {
            .recommendation-grid {
                grid-template-columns: repeat(2, 1fr);

                .grid-item {
                    height: 300px;

                    &.large {
                        max-height: 500px;
                        height: 100%;
                        grid-column: span 2;
                        grid-row: unset;
                    }

                    &:nth-child(n+2) {
                        .product-card {
                            .card-content {
                                a {
                                    padding: unset;
                                    width: auto;
                                    padding: 0px 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}