
.order-Complete-context {
  background-color: #283833;
  height: 80dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 120px;

  .order-Complete-text1 {
    height: max-content;

    h1 {

      width: fit-content;
      font-size: 64px;
      color: #fff;
      font-family: 'Be-B';
    }
  }

  .order-Complete-text2 {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    align-items: center;


    .Complete-text2-1 {
      h5 {
        font-size: 48px;
        color: #fff;
        font-family: 'M-M';
      }
    }

    .Complete-text2-2 {
      h4 {
        font-size: 128px;
        color: #fff;
        font-family: 'Mr Bedfort';
      }
    }
  }

  .order-Complete-text3 {
    p {
      font-family: 'Be-R';
      font-size: 20px;
      color: #fff;
      justify-content: center;
      text-align: center;
      line-height: 35px;
      
    }
    .text3-2{
      span{
        width: 300px;
      padding-bottom: 30px;
      border-bottom: 3px solid #ffffff;
      color: #fff;
      display: block;
      text-align: center;
      margin: 0 auto;
      align-items: center;
      }
    }


  }
}
.Order-Complete-Bill{
  margin-top: 120px;
}
 .Order-complete-right {
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 30px;
    text-align: center;


    .complete-right-bill {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      h4 {
        font-size: 24px;
        font-family: 'M-B';

      }

      &-voucher {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        font-size: 16px;
        font-family: 'Be-R';
        padding-bottom: 20px;
        border-bottom: 1px solid #D9D9D9;

        .voucher1 {
          font-family: 'Be-M';
          font-size: 18px;
          color: #000000;
        }
      }

      &-shipping {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-family: 'Be-R';
        padding-bottom: 20px;
        border-bottom: 1px solid #D9D9D9;

        .shipping1 {
          font-family: 'Be-M';
          font-size: 18px;
          color: #000000;
        }
      }

      &-discount {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-family: 'Be-R';
        padding-bottom: 20px;
        border-bottom: 1px solid #D9D9D9;

        .discount1 {
          font-family: 'Be-M';
          font-size: 18px;
          color: #000000;
        }
      }

      &-discount-code {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Be-R';
        gap: 10px;

        input {
          width: 350px;
          height: 40px;
          border: 1px solid #CBD5E1;
          border-radius: 6px;
          padding-left: 10px;
          color: #94A3B8;
          outline: invert(#F0A00A);
        }

        button {
          width: 88px;
          height: 40px;
          background-color: #F0A00A;
          border: none;
          color: #fff;
          font-size: 14px;
          border-radius: 8px;
        }

      }

      &-total {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Be-B';

        .bill-total1 {
          font-size: 20px;
          color: #8C8A8A;
          font-family: "Be-SB";
        }

        .bill-total1 {
          font-size: 20px;
          color: #8C8A8A;
          font-family: "Be-SB";
        }
      }

      &-button {
        margin-top: 20px;

        button {
          background-color: #F0A00A;
          border: none;
          color: #fff;
          font-size: 18px;
          font-family: 'Be-B';
          width: 100%;
          height: 55px;
          border-radius: 10px;
          transition: all 0.4s ease;

          &:hover {
            background-color: #f0b339;
            color: #fff;
          }
        }

      }
    }
  }
  .Order-complete-center{
    width: 700px; 
    margin: 0 auto;
    padding-top: 50px;

    span{
      font-size: 20px;
      font-family: 'Be-R';
    }

    .center-text{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }