.bill-payment {
  margin-top: 100px;
}

.detail-link {

  .link2 {
    color: #f0a00a;
  }
}

.pay-cart {
  margin-top: 50px;

  & h3 {
    font-size: 40px;
    font-family: 'M-B';
  }
}

.Pay-billment {
  margin-top: 40px;
}

.pay-info {
  display: flex;


  &-left {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 30px;

    & .info-left-title h5 {
      margin: 10px 0 0 40px;
      font-size: 20px;
      font-family: 'M-SB';

    }

    & .info-left-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 15px;
      column-gap: 100px;
      justify-content: space-between;
      margin: 30px 40px 0 40px;

      & label {
        color: #0F172A;
        font-size: 14px;
        font-family: 'Be-R'
      }



      .form-info {
        input {
          font-size: 14px;
          font-family: 'Be-R';
          width: 350px;
          height: 50px;
          border: 1px solid #CBD5E1;
          border-radius: 10px;
          padding-left: 20px;
          margin-top: 7px;
          font-size: 14px;
          color: #0F172A;

          &:focus {
            border: 1px solid #F0A00A;
            outline: none;
          }
        }
      }
    }

    & .info-left-title-2 {
      margin: 30px 40px 0 40px;

      h5 {
        font-size: 20px;
        font-family: 'M-SB'
      }

      .payment-option {
        margin: 10px 0 0 20px;
      }

      span {
        padding-left: 10px;
        font-size: 16px;
        font-family: 'Be-R';
      }


    }

    & .info-left-clause {
      margin: 30px 0 10px 40px;
      display: flex;
      align-items: center;

      & input {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      & span {
        font-size: 14px;
        color: #0F172A;
        font-family: 'Be-R';

        a {
          color: #FFC515;
        }
      }
    }
  }

  &-right {
    width: 30%;
    height: 470px;
    border-radius: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-left: 30px;
    padding: 30px;
    text-align: center;


    .info-right-bill {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      h4 {
        font-size: 24px;
        font-family: 'M-B';

      }

      &-sum {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Be-R';

        .sum1 {

          color: #8C8A8A;
        }
      }

      &-shipping {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Be-R';

        .shipping1 {
          font-size: 16px;
          color: #8C8A8A;
        }
      }

      &-discount {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Be-R';

        .discount1 {
          font-size: 16px;
          color: #8C8A8A;
        }
      }

      &-discount-code {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Be-R';
        gap: 10px;

        input {
          width: 350px;
          height: 40px;
          border: 1px solid #CBD5E1;
          border-radius: 6px;
          padding-left: 10px;
          color: #94A3B8;
          outline: invert(#F0A00A);
        }

        button {
          width: 88px;
          height: 40px;
          background-color: #F0A00A;
          border: none;
          color: #fff;
          font-size: 14px;
          border-radius: 8px;
        }

      }

      &-total {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 20px;
        font-family: 'Be-B';

        .bill-total1 {
          font-size: 20px;
          color: #8C8A8A;
          font-family: "Be-SB";
        }

        .bill-total1 {
          font-size: 20px;
          color: #8C8A8A;
          font-family: "Be-SB";
        }
      }

      &-button {
        margin-top: 20px;

        button {
          background-color: #F0A00A;
          border: none;
          color: #fff;
          font-size: 18px;
          font-family: 'Be-B';
          width: 100%;
          height: 55px;
          border-radius: 10px;
          transition: all 0.4s ease;

          &:hover {
            background-color: #f0b339;
            color: #fff;
          }
        }

      }
    }
  }
}