

.banner-slider{
  position: relative;
}
.header-banner {
  height: 100dvh;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(73%);
  }
}

.header-text {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  color: white;

  .text1,
  .text2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'M-B';
    
  }

  .text3 {
    color: #fff8f8;
    font-size: 18px;
    font-family: 'M-R';
  }
}

.box-seemore {
  justify-content: center;
  align-items: center;
  text-align: center;

  p{
    font-family: 'Be-M';
    font-size: 18px;
  }
  i {
    margin-top: 5px;
    color: #8c8a8a;
  }

  .arow-seemore{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    // width: 100%;
  }
}