.rooms-page {

  // Banner Section
  .room-banner {
    height: 100dvh;
    overflow: hidden;
    position: relative;
    margin-top: -80px;

    .banner-image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // Breadcrumb Styles
  .breadcrumb-container {
    padding: 15px 0;
    background-color: #f8f8f8;
    margin-bottom: 88px;

    .breadcrumb {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: 'M-R';
      font-size: 14px;

      a {
        color: #666;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #333;
        }
      }

      span {
        color: #999;

        &.active {
          color: #333;
          font-family: 'M-M';
        }
      }
    }
  }

  // Room Categories
  .room-categories {
    padding: 0 0 44px;
    margin-bottom: 44px;
    overflow: visible;

    .section-title {
      @include text(24px, M-EB, normal, $text-cl, null);
      margin-bottom: 30px;
      text-align: left;
    }
  }

  // featured products
  .featured-products {
    padding: 0 0 44px;
    margin-bottom: 44px;

    .section-title {
      @include text(24px, M-EB, normal, $text-cl, null);
      margin-bottom: 30px;
      text-align: left;
    }
  }
}