.hero-banner {
    margin-top: unset !important;
    .hero-banner__title {
        @include text(64px, M-B, auto, $white-cl, null);
        height: 100%;
        text-align: center;
        align-content: center;
    }

    .banner-image {
        height: 50dvh;
        overflow: hidden;
        background-image: url("/images/hero-banner.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}