/* box-produúc */
.section-box-products {

  width: 100%;
  margin: 0 auto;

  h5 {
    padding: 30px 0;
    font-size: 20px;
    font-family: 'M-SB';
  }

  .box-products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    height: auto;
    margin: 0 auto;

    .box-products-frame {
      border: 1px solid #d9d9d9;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

      .products-frame-news {
        display: flex;

        .news-t {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
        }

        .news-tt {
          min-width: 20%;
          border: 1px solid #00d078;
          border-radius: 5px;
          color: #00d078;
          text-align: center;
          font-family: 'BE-M';
          font-size: 14px;
          align-self: center;
          padding: 0 10px;
        }

        /* Hàng đẳng cấp cho các lớp news-tt */
        .news-tt-1 {
          min-width: 30%;
          border: 1px solid #D83B01;
          border-radius: 5px;
          color: #D83B01;
          text-align: center;
          padding: 0 5px;
          font-family: 'BE-M';
          font-size: 14px;
          align-self: center;
        }

        .news-icon {
          margin-left: auto;
          display: flex;
          align-self: center;
          gap: 10px;
          cursor: pointer;

          span {
            font-family: 'Be-M';
            font-size: 14px;
            color: #767676;
          }

          img {
            color: #d9d9d9;
          }
        }

        span {
          font-family: 'Be-M';
          font-size: 14px;
          color: #767676;
        }
      }

      .products-frame-image {
        margin: 20px 0;
        width: 100%;
        display: flex;
        justify-content: center;

        a {
          display: flex;
          justify-content: center;

          img {
            width: 230px;
            height: 230px;
            object-fit: contain;
            transition: transform 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }

        }
      }

      .products-frame-name span {
        width: 100%;
        font-size: 18px;
        font-family: 'Be-B';
      }

      .products-frame-description {
        font-size: 16px;
        font-family: 'Be-L';
        margin: 10px 0;
      }

      .products-frame-color {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e0e0e0;

        .color-name {
          color: #7a7a7a;
          font-size: 16px;
          font-family: 'Be-L';
        }

        .color-section {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;

          .color-1 {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #7d5a50;
          }

          .color-2 {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #a3a380;
          }

          .color-3 {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #757575;
          }
        }
      }

      .products-frame-cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .cart-price {
          display: flex;
          flex-direction: column;

          .price1 {
            font-size: 16px;

            color: #767676;
            font-family: 'Be-R';
          }

          .price2 {
            font-size: 20px;
            font-family: 'Be-B';
          }
        }

        .cart-button {


          button {
            padding: 13px 32px;
            border: 1px solid #D9D9D9;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.3s ease;
            border: 1px solid #d9d9d9;
            background-color: #fff;
            font-size: 12px;
            font-family: 'Be-M';



            &:hover {
              background-color: #F0A00A;
              transition: all 0.3s ease;
              color: #fff;
            }

          }


        }
      }
    }
  }

  @include lg {
    .box-products-container {
      .box-products-frame {
        .products-frame-cart {
          gap: 2px;

          .cart-price {
            .price1 {
              font-size: 14px
            }

            .price2 {
              font-size: 16px
            }
          }

          .cart-button {
            button {
              padding: 10px 22px;
            }
          }

        }
      }
    }
  }

  @include md {
    .box-products-container {
      .box-products-frame {
        .products-frame-news {
          .news-t {

            .news-tt,
            .news-tt-1 {

              font-size: 8px;
            }
          }
        }

        .products-frame-image {
          a {
            img {
              width: 60%;
            }
          }
        }

        .products-frame-name {
          span {
            font-size: 14px;
          }
        }

        .products-frame-description {
          span {
            font-size: 14px;
          }
        }

        .products-frame-color {
          .color-name {
            font-size: 14px;
          }

          .color-section {

            .color-1,
            .color-2,
            .color-3 {
              width: 15px;
              height: 15px;
            }
          }
        }

        .products-frame-cart {
          gap: 2px;

          .cart-price {
            .price1 {
              font-size: 11px
            }

            .price2 {
              font-size: 13px
            }
          }

          .cart-button {
            button {
              padding: 8px 12px;
              font-size: 10px
            }
          }

        }
      }
    }
  }

  @include sm {
    .box-products-container {
      grid-template-columns: repeat(2, 1fr);

      .box-products-frame {
        .products-frame-news {
          .news-t {

            .news-tt,
            .news-tt-1 {

              font-size: 12px;
            }
          }
        }

        .products-frame-image {
          a {
            img {
              width: 70%;
            }
          }
        }

        .products-frame-name {
          span {
            font-size: 16px;
          }
        }

        .products-frame-description {
          span {
            font-size: 16px;
          }
        }

        .products-frame-color {
          .color-name {
            font-size: 16px;
          }

          .color-section {

            .color-1,
            .color-2,
            .color-3 {
              width: 20px;
              height: 20px;
            }
          }
        }

        .products-frame-cart {
          gap: 2px;

          .cart-price {
            .price1 {
              font-size: 14px
            }

            .price2 {
              font-size: 16px
            }
          }

          .cart-button {
            button {
              padding: 10px 22px;
              font-size: 14px
            }
          }

        }
      }
    }
  }

  @include xs {
    .box-products-container {
      grid-template-columns: repeat(2, 1fr);

      .box-products-frame {
        .products-frame-news {
          .news-t {

            .news-tt,
            .news-tt-1 {

              font-size: 10px;
            }
          }
        }

        .products-frame-image {
          a {
            img {
              width: 70%;
            }
          }
        }

        .products-frame-name {
          span {
            font-size: 14px;
          }
        }

        .products-frame-description {
          span {
            font-size: 14px;
          }
        }

        .products-frame-color {
          .color-name {
            font-size: 14px;
          }

          .color-section {

            .color-1,
            .color-2,
            .color-3 {
              width: 18px;
              height: 18px;
            }
          }
        }

        .products-frame-cart {
          gap: 2px;

          .cart-price {
            .price1 {
              font-size: 10px
            }

            .price2 {
              font-size: 14px
            }
          }

          .cart-button {
            button {
              padding: 8px 15px;
              font-size: 12px
            }
          }

        }
      }
    }
  }

  @include xxs {
    .box-products-container {
      grid-template-columns: repeat(2, 1fr);

      .box-products-frame {
        .products-frame-news {
          .news-t {

            .news-tt,
            .news-tt-1 {

              font-size: 10px;
            }
          }
        }

        .products-frame-image {
          a {
            img {
              width: 70%;
            }
          }
        }

        .products-frame-name {
          span {
            font-size: 14px;
          }
        }

        .products-frame-description {
          span {
            font-size: 16px;
          }
        }

        .products-frame-color {
          .color-name {
            font-size: 16px;
          }

          .color-section {

            .color-1,
            .color-2,
            .color-3 {
              width: 20px;
              height: 20px;
            }
          }
        }

        .products-frame-cart {
          gap: 2px;

          .cart-price {
            .price1 {
              font-size: 14px
            }

            .price2 {
              font-size: 16px
            }
          }

          .cart-button {
            button {
              padding: 8px 12px;
              font-size: 14px
            }
          }

        }
      }
    }
  }
}