
/* danh mục sản phẩm */
.category-of-products {
  padding: 100px 0 50px 0;
  width: 100%;
  height: 800px;
  margin: 0 auto;

  & .category-of-products-s1 {
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .products-s1-frame-1 {
      background-color: #d9d9d9;
      border-radius: 10px;
      height: 100%;

      .frame-1-text1 {
        font-family: 'M-SB';
        margin-top: 70px;
        padding: 0 30px;
        font-size: 20px;
        color: #221D00;
      }

      .frame-1-text2 {
        font-size: 16px;
        margin: 10px 0 0 30px;
        font-family: 'BE-R';
        width: 370px;
        color: #221D00;
      }
    }

    .products-s1-frame-2,
    .products-s1-frame-3  {
      height: 100%;
      width: 100%;
      display: block;
      position: relative;
      border-radius: 10px;
      overflow: visible;


      .frame-2-t{
        position: absolute;
        top: 55%;
        left: 20px;
        color: white;
        font-size: 18px;
        font-family: 'M-M';

            p {
        position: absolute;
        margin-top: 30px;
        color: white;
        font-size: 18px;
        font-family: 'M-M';
      }

      button {
        position: absolute;
        width: 170px;
        height: 45px;
        margin: 70px 0 0 0;
        background-color: #fff;
        color: black;
        border-radius: 10px;
        border: none;
        // margin: 15px 0 0 20px;
        font-size: 16px;
        font-family: 'BE-M';
      }

      }
      img{

        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 100%;
      }
  
    }
  }

  & .category-of-products-s2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    height: 50%;
    padding: 20px 0;

    & .products-s2-frame-1 {
      
      height: 100%;
      width: 100%;
      display: block;
      position: relative;
      border-radius: 10px;
      overflow: visible;

      .frame-2-t{
        position: absolute;
        top: 55%;
        left: 20px;
        color: white;
        font-size: 18px;
        font-family: 'M-M';

            p {
        position: absolute;
        margin-top: 30px;
        color: white;
        font-size: 18px;
        font-family: 'M-M';
      }

      button {
        position: absolute;
        width: 170px;
        height: 45px;
        margin: 70px 0 0 0;
        background-color: #fff;
        color: black;
        border-radius: 10px;
        border: none;
        // margin: 15px 0 0 20px;
        font-size: 16px;
        font-family: 'BE-M';
      }

      }
      img{

        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 100%;
      }
  
    }

    & .products-s2-frame-4 {
      button {
        margin: 15px 0 0 15px;
      }
    }
  }
}