/* danh mục sản phẩm */
section p {
  text-align: left;
}

.category-of-products {
  padding: 100px 0 50px 0;
  width: 100%;
  height: 800px;
  margin: 0 auto;

  & .category-of-products-s1 {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .products-s1-frame-1 {
      background-color: #d9d9d9;
      border-radius: 10px;
      height: 100%;
      position: relative;

      .frame-1-text {
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;

        .frame-1-text1 {
          font-family: 'M-SB';
          font-size: 20px;
          color: #221D00;
           white-space: pre-line;
        }

        .frame-1-text2 {
          font-size: 16px;
          font-family: 'BE-R';
          width: 420px;
          color: #221D00;
        }
      }


    }

    .products-s1-frame-2,
    .products-s1-frame-3 {
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      height: 100%;


      .frame-2-t {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
        color: #fff;
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        h3 {
          font-size: 20px;
          font-family: 'M-SB';
          line-height: 22px;
          color: #fff;
        }

          a {
          background-color: #fff;
          display: flex;
          align-items: center;
          column-gap: 8px;
          border-radius: 12px;
          width: 185px;
          height: 50px;
          outline: none;
          padding: 10px 30px;
          font-size: 14px;
          font-family: 'Be-M';
          line-height: normal;
          color: #1d1d1d;
          text-decoration: none;
          transition: all 0.4s ease;
          z-index: 10000;

           &:hover {
              background-color: #f0a00a;
              color: #fff;
              outline: none;
        }
        }
      }

      img {

        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 100%;
        transition: transform 0.5s ease;
      }

      &:hover img {
        transform: scale(1.05);
      }
    }
  }

  & .category-of-products-s2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    padding: 20px 0;

    & .products-s2-frame-1 {

      position: relative;
      overflow: hidden;
      border-radius: 8px;
      height: 100%;

      .frame-2-t {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
        color: #fff;
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        border-radius: 10px;

        h3 {
          font-size: 20px;
          font-family: 'M-SB';
          line-height: 22px;
          color: #fff;
        }

        a {
          background-color: #fff;
          display: flex;
          align-items: center;
          column-gap: 8px;
          border-radius: 12px;
          width: 185px;
          height: 50px;
          outline: none;
          padding: 10px 30px;
          font-size: 14px;
          font-family: 'Be-M';
          line-height: normal;
          color: #1d1d1d;
          text-decoration: none;
          transition: all 0.4s ease;
          z-index: 10000;

           &:hover {
              background-color: #f0a00a;
              color: #fff;
              outline: none;
        }

       
        }

       
      }

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 100%;
        transition: transform 0.5s ease;
      }

      &:hover img {
        transform: scale(1.05);
      }

    }


  }


}


   @include md {
    .category-of-products{

        .category-of-products-s1{

          .products-s1-frame-1{
            .frame-1-text{
              top: 13%;
              .frame-1-text1{
                font-size: 16px;

              }
              .frame-1-text2{
                line-height: 20px;
                font-size: 12px;
              }
            }
          }
          .products-s1-frame-2{
            .frame-2-t{
              a{
                width: 175px;
                font-size: 14px;
                padding: 10px 25px;
              }
            }
          }
        }
        .category-of-products-s2{
      
          .products-s2-frame-1{
            .frame-2-t{
              h3{
                font-size: 18px;
              }
              a{
                width: 150px;
                font-size: 12px;
                padding: 10px 15px;
              }
            }
          }
        }
      }
    }
   @include sm {
    .category-of-products{
      height: 700px;
        .category-of-products-s1{
          height: 50%;
          .products-s1-frame-1{
            .frame-1-text{
              top: 30%;
              .frame-1-text1{ 
                font-size: 16px;
                
                
              }
              .frame-1-text2{
                display: none;
                line-height: 18px;
                font-size: 8px;
              }
            }
          }
          .products-s1-frame-2{
            .frame-2-t{
                row-gap: 12px;
              h3{
                font-size: 16px;
              }
              a{
                width: 175px;
             height: 40px;
                font-size: 14px;
                padding: 10px 25px;
              }
            }
          }
        }
        .category-of-products-s2{
           height: 50%;
          .products-s2-frame-1{
            .frame-2-t{
                 row-gap: 12px;
              a{
                width: 120px;
                height: 40px;
                font-size: 10px;
                padding: 10px 12px;
              }
            }
          }
        }
      }
    }

       @include xs {
    .category-of-products{
      height: 700px;
        .category-of-products-s1{
          height: 50%;
          .products-s1-frame-1{
            .frame-1-text{
              top: 30%;
              .frame-1-text1{ 
                font-size: 14px;
                
                
              }
              .frame-1-text2{
                display: none;
                line-height: 18px;
                font-size: 8px;
              }
            }
          }
          .products-s1-frame-2{
            .frame-2-t{
                row-gap: 10px;
                padding: 10px 15px;
              h3{
                font-size: 16px;
              }
              a{
                width: 100%;
                height: 40px;
                font-size: 10px;
                padding: 10px 15px;
              }
            }
          }
        }
        .category-of-products-s2{
           height: 50%;
          .products-s2-frame-1{
            .frame-2-t{
                 row-gap: 10px;
                  padding: 10px 10px;
                  h3{
                    font-size: 14px;
                  }
              a{
                width: 100%;
                height: 30px;
                font-size: 8px;
                padding: 10px 8px;

                i{
                  svg{
                  width: 12px;
                  height: 6px;
                  }
                }
              }
            }
          }
        }
      }
    }