// :root {
//     --gap: 20px;
//     --body16-fs: 16px;
// }



.popup-overlay {
    @mixin fadeInScale {
        from {
            opacity: 0;
            transform: scale(0.9);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black-cl, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .popup-container {
        background-color: $white-cl;
        padding: 0;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba($black-cl, 0.2);
        aspect-ratio: 2 / 1; // đúng tỷ lệ 1000:500
        width: 90vw;
        max-width: 1300px;
        max-height: 90vh;
        min-width: 300px;
        position: relative;
        text-align: center;
        animation: fadeInScale $t ease-out forwards;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .mySwiper {
            width: 100%;
            aspect-ratio: 2 / 1;
            z-index: 10000;
            position: relative;
        }

        .popup-image-link {
            display: block;
            line-height: 0;
            width: 100%;
            height: 100%;
            position: relative;
        }

        .popup-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 0;
        }

        .popup-close-btn {
            z-index: 11000;
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgba($black-cl, 0.5);
            color: $white-cl;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            cursor: pointer;
            z-index: 1001;
            border: none;
            transition: background-color $t ease;


        }

        .no-image-placeholder {
            padding: var(--gap);
            color: $text-cl;
            font-size: var(--body16-fs);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            aspect-ratio: 16 / 9;
            width: 100%;
            background-color: #f0f0f0;
        }

        .swiper-pagination {
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 10;
        }

        .swiper-pagination-bullet {
            display: inline-block !important;
            width: 10px;
            height: 10px;
            background-color: rgba($white-cl, 0.7);
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: $gray-cl-5 !important;
            width: 12px;
            height: 12px;
        }
    }

    @keyframes fadeInScale {
        @include fadeInScale;
    }

    .swiper-scrollbar {
        background: rgba($black-cl, 0.2) !important;
        height: 8px !important;
        position: absolute !important;
        bottom: 10px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        width: 90% !important;
        border-radius: 4px !important;
        z-index: 10;
    }

    .swiper-scrollbar-drag {
        background: $dark-cl !important;
        border-radius: 4px !important;
    }

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
        display: none !important;
    }

    html,
    body,
    #root,
    .App {
        position: relative;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #333;
        background: #f8f8f8;
    }
}